h1 {
  padding-top: 80px;
}

h2 {
  margin: 30px 0px;
  font-weight: lighter;
}

p {
  padding-bottom: 5px;
}

.cleanlist ul {
  list-style-type: none;
}

.skills-right {
  text-align: right;
}

#about {
  max-width: 750px;
  margin: 0 auto;
}

#skills {
  max-width: 750px;
  margin: 0 auto;
}
// .green-container {
//   border: 1px solid $greygreen;
//   background-color: $greygreen;
//   width: 750px;
//   height: 500px;
//   border-radius: 20px;
//   margin-top: 50px;
//   opacity: 0.5;
//   padding: 30px 30px;
// }

#resume-buttons {
  padding: 50px 20px;
}

.resume a {
  font-size: 30px;
  text-decoration: none;
  color: $greygreen;
}

.resume a:hover {
  color: #C89855;
}

.wrapper {
 display: flex;
 justify-content:center;
 align-content:center;
}

.tagline {
  display: block;
  margin: auto;
  padding: 20px 250px;
}
