    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-6">
            <ul class="list-inline">
              <li><a href="https://www.linkedin.com/in/milou-schelling-6b8a0028"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.facebook.com/milou.schelling"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/milouschelling"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/milouschelling/"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
          <div class="col-xs-6 text-right">
            <ul class="list-inline">
              <li><p>Milou Schelling</p</li>
              <li><a href="mailto:milou.schelling@gmail.com.com?subject="><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
