<div class="navbar">
  <div class="navbar-right hidden-xs hidden-sm">
    <a href="#about" class="navbar-item navbar-link">About</a>
    <a href="#skills" class="navbar-item navbar-link">Skills</a>
    <a href="#projects" class="navbar-item navbar-link">Projects</a>
    <a href="#contact" class="navbar-item navbar-link">Contact</a>
  </div>
</div>
