<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/banner.jpg') fixed;">
  <div class="banner-content">
    <h1>MILOU SCHELLING</h1>
    <p>Junior web developer specialised in Ruby & Ruby On Rails</p>
  </div>
</div>

<!-- <div class="wrapper-grey-green-light padded">
  <h2 class="text-center">Explore</h2>
  <h2 class="text-center">Play</h2>
  <h2 class="text-center">Be Creative</h2>
</div> -->

<div class="container padded" id="mystory">
  <h2 class="text-center">My Story</h2>
  <div class="row">
   <!--  <div class="col-xs-12 col-sm-6">
    <img src="images/milou.jpg" class="avatar-large">
    </div> -->
    <div class="col-xs-12">
      <div class="text-center">
        <p>My name is Milou, a junior full-stack web developer who knows what is happening, what is important and what needs to be shared. While being ambitious, creative and highly emphatic, I work hard to achieve my goals. I like to see myself as a strong team player: one that feels responsible for creating connections between different parties. I'm young and enthusiastic and I am able to quickly respond to new developments.</p>
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey-green-lighter padded" id="skills">
  <div class="container cleanlist skills">
    <h2 class="text-center">Skills</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <ul>
          <li><strong>Front-end</strong></li>
          <li>HTML5 & CSS3</li>
          <li>JavaScript, jQuery & React.js</li>
          <li>Bootstrap</li>
          <li>Advanced CSS techniques</li>
          <li>UX/UI best practices</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4">
        <ul>
          <li><strong>Back-end</strong></li>
          <li>Ruby</li>
          <li>Ruby on Rails</li>
          <li>SQL</li>
          <li>PostgreSQL</li>
          <li>APIs & web services</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4">
        <ul>
          <li><strong>Tools</strong></li>
          <li>Git</li>
          <li>Github</li>
          <li>Sublime text</li>
          <li>Sketch</li>
          <li>Heroku</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container padded text-center" id="projects">
  <h2 class="text-center">Projects</h2>
  <div class="row">
   <div class="col-xs-12 col-sm-4">
     <div class="card" style="background-image: url('https://unsplash.it/200/310');">
      <div class="card-category"></div>
      <div class="card-description">A project on ...
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: url('https://unsplash.it/200/310');">
      <div class="card-category"></div>
      <div class="card-description">A project on ...
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: url('https://unsplash.it/200/310');">
      <div class="card-category"></div>
      <div class="card-description">A project on ...
      </div>
    </div>
  </div>
</div>
</div>

