<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/banner.jpg') fixed;">
  <div class="banner-content">
    <h1>MILOU SCHELLING</h1>
    <p>Junior web developer specialised in Ruby & Ruby On Rails</p>
  </div>
</div>

<div class="container padded about text-center" id="about">
  <h2 class="text-center">About</h2>
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <p>Hi there! My name is Milou. I am a newby Ruby developer who recently discovered her love for &lt;a&gt;coding&lt;/a&gt;! After graduating from university I am now ready to dive into the world of programming.
        Thanks to my education and thanks to my play-time in hospitality and the world of journalism I am a girl who know what is happening, what is important and what needs to be shared. While being ambitious, creative and highly emphatic, I work hard to achieve my goals. I like to see myself as a strong team player: one that feels responsible for creating connections between different parties. I'm young and enthusiastic and I am able to quickly respond to new developments.
        </p>
      </div>
    </div>
  </div>
<!--   <div class="row">
  <div class="col-xs-12">
      <ul id="resume-buttons" class="list-inline">
        <li><p class="active">Bachelor European Studies</p></li>
        <li><p class="hidden">Master International Relations</p></li>
        <li><p class="hidden"></p></li>
        <li><p class="hidden"></p></li>
        <li><p class="hidden"></p></li>
      </ul>
    </div>
  </div> -->
</div>

<div class="wrapper-grey-green-lighter padded" id="skills">
  <div class="container cleanlist skills">
    <h2 class="text-center">Skills</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <ul>
          <li><strong>Front-end</strong></li>
          <li><i class="fa fa-check" aria-hidden="true"></i> HTML5 & CSS3</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> JavaScript, jQuery & React.js</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Bootstrap</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Advanced CSS techniques</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> UX/UI best practices</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4">
        <ul>
          <li><strong>Back-end</strong></li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Ruby</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Ruby on Rails</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> SQL</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> PostgreSQL</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> APIs & web services</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4">
        <ul>
          <li><strong>Tools</strong></li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Git</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Github</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Sublime text</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Sketch</li>
          <li><i class="fa fa-check" aria-hidden="true"></i> Heroku</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container padded text-center" id="projects">
  <h2 class="text-center">Projects</h2>
  <div class="row">
   <div class="col-xs-12 col-sm-4">
     <div class="card" style="background-image: url('images/mrsmokum.jpg');">
       <a href="http://www.mrsmokum.com" target="_blank">
        <div class="card-link card-description">
          <h3>Mrs. Mokum</h3>
          <p>This Amsterdam-based online magazine and agency covers all that is cultural and exciting. They provide a stage for existing and upcoming talent in the city and organise the coolest events in town.</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: url('images/bohobees-card.png');">
     <!--    <a href="#" target="_blank"> -->
     <div class="card-link card-description">
       <h3>Bohobees</h3>
       <p>Together with my buddies from Le Wagon I created a website for Bohobees.
        <hr>
        An online platform where backpackers and travellers can meet with locals, through sharing a plate and sharing a story for less than €10!</p>
      </div>
      <!--      </a> -->
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: url('images/parool.jpg');">
      <a href="http://www.parool.nl/alle-nieuws-over-mrs-mokum/" target="_blank">
       <div class="card-link card-description">
         <h3>Parool</h3>
         <p>For Parool, a regional newspaper from Amsterdam, I did an interview with the owners of restaurant Guts&Glory.
           <hr>
           In a collaboration with Parool, Mrs. Mokum published several articles on the newspaper's website.</p>
         </div>
       </a>
     </div>
   </div>
 </div>
</div>

